.fully-outer-footer{
    background-color: rgb(216, 237, 255);
    height: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.footer-one{
    height: 200px;
    width: 500px;
    background-color: #FF724B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    position: relative;
    top: 50px;
}
.footer-one p{
    font-size: 20px;
    width: 150px;
    font-weight: 900;
}
.footer-two{
    height: 200px;
    width: 500px;
    background-color: #070346;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    position: relative;
    top: 100px;
}
.phone-number{
    border-right: 2px solid orange;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}
#phone-icon,#email-icon{
    font-size: 30px;
}
#email{
    border-right: 2px solid orange;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
}
#insta{
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
@media screen and (max-width: 1050px) {
    .fully-outer-footer{
        background-color: rgb(216, 237, 255);
        height: 500px;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
    .footer-one{
        height: 200px;
        width: 70vw;
        background-color: #FF724B;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        position: relative;
        top: 50px;
    }
    .footer-one p{
        font-size: 20px;
        width: 150px;
        font-weight: 900;
    }
    .footer-two{
        height: 200px;
        width: 70vw;
        background-color: #070346;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        position: relative;
        top: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 650px) {
    .footer-one{
        padding: 30px 0px;
    }
    .footer-two{
        flex-direction: column;
        height: 300px;
    }
    .phone-number, #email{
        padding: 10px 0px;
        border-bottom: 2px solid orange;
        border-right: none;
    }
    #insta{
        padding: 10px 0px;

    }
}
@media screen and (max-width: 450px) {
    .footer-one,.footer-two{
        width: 80vw;
    }
}