#services-page {
  height: 100px;
}
#service-fully-outer {
  background-color: rebeccapurple;
  padding-bottom: 70px;
  margin-top: 600px;
}
h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
}
#dis {
  color: white;
  font-size: 20px;
  width: 800px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.languagesgrid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  width: 50%;
  margin: auto;
  margin-top: 70px;
}
#service-one {
  width: 300px;
  background-color: white;
  text-transform: capitalize;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
#service-one:hover {
  transform: translateZ(100px);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: 500;
  background-color: #f7e025;
}
#service-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0px;
}
#landing-page-read-more {
  background-color: #1ebae9;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
#landing-page-read-more:hover {
  background-color: black;
  color: white;
}
#link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
#landing-page-dis {
  margin: 20px;
  width: 220px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1139px) {
  #languages {
    width: 100vw;
  }
  .languagesgrid {
    display: grid;
    gap: 10px;
    width: fit-content;
    margin: auto;
    position: relative;
    top: 40px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 886px) {
  h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 70px;
  }
  #dis {
    color: white;
    font-size: 17px;
    width: 70vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  #languages {
    width: 100vw;
    margin-bottom: 110px;
  }
}
@media screen and (max-width: 626px) {
  .languagesgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: fit-content;
    margin: auto;
  }
  #service-one {
    width: 70vw;
  }
  #landing-page-dis {
    margin: 20px;
    width: 60vw;
    font-weight: 500;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  #services-page {
    height: 50px;
  }
  #service-fully-outer {
    margin-top: 700px;
  }
  #dis{
    width: 80vw;
  }
}
