#about-page{
    height: 100px;
    background-color: #070346;
}
#about{
    background-color: #070346;
    height: fit-content;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about p{
    margin: 50px 0px;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 450px) {
    #exp{
        font-size: 20px;
    }
    #about-page{
        height: 10px;
    }
}